.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.col-lg-1 {
  width: 8.333333%;
}

.col-lg-2 {
  width: 16.666667%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-5 {
  width: 41.666667%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.333333%;
}

.col-lg-8 {
  width: 66.666667%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.333333%;
}

.col-lg-11 {
  width: 91.666667%;
}

.col-lg-12 {
  width: 100%;
}

@media (max-width: 480px) {
  .col-12 {
    width: 100%;
  }
}
body,
ul,
li,
figure {
  margin: 0;
  padding: 0;
}

.p-1 {
  padding: 15px;
}

.p-2 {
  padding: 30px;
}

.pl-2 {
  padding-left: 30px;
}

.pb-1 {
  padding-bottom: 15px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 15px;
}

.ml-1 {
  margin-left: 15px;
}

.ml-2 {
  margin-left: 30px;
}

.mt-1 {
  margin-top: 15px;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
  flex: 0 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 15px;
}

.gap-2 {
  gap: 30px;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

input[type=text], select {
  padding: 15px;
  font-size: 15px;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.purple {
  color: #9C27B0;
}

.bg-purple {
  background-color: #9C27B0;
}

.bg-success {
  background-color: #27ae60;
}

.success {
  color: #27ae60;
}

.bg-error {
  background-color: #e74c3c;
}

.error {
  color: #e74c3c;
}

.border {
  border: 1px solid #000;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

#editor-panel-button {
  top: 0;
  right: 0;
  z-index: 1001;
  cursor: pointer;
  border: none;
  background: #fff;
  border: 4px solid #9C27B0;
  border-radius: 25px;
  aspect-ratio: 1/1;
  text-decoration: none;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}

.add-element,
.edit-element {
  display: none;
}

#editor.editor-mode i {
  font-size: 15px !important;
}
#editor.editor-mode .element,
#editor.editor-mode ul {
  padding: 15px;
  border: 3px dashed gray;
}
#editor.editor-mode .element:hover,
#editor.editor-mode ul:hover {
  border: 3px dashed #000;
}
#editor.editor-mode .element,
#editor.editor-mode ul,
#editor.editor-mode li,
#editor.editor-mode h1,
#editor.editor-mode nav,
#editor.editor-mode section {
  min-height: 30px;
}
#editor.editor-mode .element .add-element,
#editor.editor-mode ul .add-element,
#editor.editor-mode li .add-element,
#editor.editor-mode h1 .add-element,
#editor.editor-mode nav .add-element,
#editor.editor-mode section .add-element {
  display: none;
  left: 0;
  right: 0;
  bottom: -30px;
  justify-content: center;
  z-index: 1;
  opacity: 0.5;
}
#editor.editor-mode .element .add-element button,
#editor.editor-mode ul .add-element button,
#editor.editor-mode li .add-element button,
#editor.editor-mode h1 .add-element button,
#editor.editor-mode nav .add-element button,
#editor.editor-mode section .add-element button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#editor.editor-mode .element .edit-element,
#editor.editor-mode ul .edit-element,
#editor.editor-mode li .edit-element,
#editor.editor-mode h1 .edit-element,
#editor.editor-mode nav .edit-element,
#editor.editor-mode section .edit-element {
  display: none;
  top: -30px;
  right: -30px;
  z-index: -1;
  opacity: 0.5;
}
#editor.editor-mode .element .edit-element button,
#editor.editor-mode ul .edit-element button,
#editor.editor-mode li .edit-element button,
#editor.editor-mode h1 .edit-element button,
#editor.editor-mode nav .edit-element button,
#editor.editor-mode section .edit-element button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#editor.editor-mode .element .edit-element:hover,
#editor.editor-mode ul .edit-element:hover,
#editor.editor-mode li .edit-element:hover,
#editor.editor-mode h1 .edit-element:hover,
#editor.editor-mode nav .edit-element:hover,
#editor.editor-mode section .edit-element:hover {
  z-index: 100;
  opacity: 1;
}
#editor.editor-mode .element:hover,
#editor.editor-mode ul:hover,
#editor.editor-mode li:hover,
#editor.editor-mode h1:hover,
#editor.editor-mode nav:hover,
#editor.editor-mode section:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100;
}
#editor.editor-mode .element:hover > div > .add-element,
#editor.editor-mode .element:hover > div > .edit-element,
#editor.editor-mode ul:hover > div > .add-element,
#editor.editor-mode ul:hover > div > .edit-element,
#editor.editor-mode li:hover > div > .add-element,
#editor.editor-mode li:hover > div > .edit-element,
#editor.editor-mode h1:hover > div > .add-element,
#editor.editor-mode h1:hover > div > .edit-element,
#editor.editor-mode nav:hover > div > .add-element,
#editor.editor-mode nav:hover > div > .edit-element,
#editor.editor-mode section:hover > div > .add-element,
#editor.editor-mode section:hover > div > .edit-element {
  display: flex;
  z-index: 100;
  opacity: 1;
}

#editor-mode-button {
  width: 50px;
  height: 50px;
}

#editor-panel {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 400px;
  margin-right: -430px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s;
  overflow-y: scroll;
}
#editor-panel #close-panel {
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
}
#editor-panel.open {
  margin-right: 0;
}

@media (max-width: 480px) {
  #editor-panel.open {
    width: auto;
    left: 0;
  }
}

/*# sourceMappingURL=editor.css.map */
