.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$small;
    margin-right: -$small;

    >[class*="col-"] {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
}

.d-flex {
    display: flex;
    flex: 0 0 auto;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 15px;
}

.gap-2 {
    gap: 30px;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}