$fontFamilyPrimary: 'Lato', sans-serif;
$fontFamilySecondary: 'Raleway', sans-serif;

$small: 15px;
$medium: 30px;
$large: 45px;

$white: #fff;
$black: #000;
$primary: #62ecc1;
$secondary: #222589;
$success: #27ae60;
$error: #e74c3c;