$fontFamily: 'Poppins', sans-serif;

/* ESPACEMENTS */
$small: 15px;
$medium: 30px;
$large: 45px;

/* COULEURS */
$white: #fff;
$black: #000;
$primary: #6a4aa1;
$secondary: #222589;
$success: #27ae60;
$error: #e74c3c;