.white {
    color: $white;
}

.black {
    color: $black;
}

.transparent {
    color: transparent;
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}

.bg-transparent {
    background-color: transparent;
}

.primary {
    color: $primary;
}

.bg-primary {
    background-color: $primary;
}

.bg-success {
    background-color: $success;
}

.success {
    color: $success
}

.bg-error {
    background-color: $error
}

.error {
    color: $error
}