/* TAILLE DU PANNEAU */
$seoCheckerPanelSize: 400px;
$zIndex: 1000;

#editor {
    min-height: 100%;
}

#editor.editor-mode {

    .element {
        margin: $medium;
        border: 3px dashed gray;
        min-width: 100px;
        min-height: 100px;

        .edit-element-options {
            display: flex;
            height: 0;

            #edit-element-tag {
                left: 0;
                top: -25px;
                font-size: $small;
            }

            #edit-element-button {
                display: none;
                top: -$medium;
                right: -$medium;
            }

            #edit-element-buttons {
                top: -$medium;
                right: -$medium + calc($medium + $medium);
                z-index: -1;
                opacity: 0.5;
            }

            button {
                width: 50px;
                height: 50px;

                i {
                    font-size: $small;
                }
            }

            &:hover {
                z-index: 100;
                opacity: 1
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
            border: 3px dashed $black;
            z-index: 100;

            >.edit-element-options {

                #edit-element-button {
                    display: flex;
                }

                #edit-element-buttons {
                    opacity: 1;
                    z-index: 100;
                    justify-content: flex-end;
                    font-size: 14px;
                    color: $black;
                }
            }
        }

        &.p-fixed {
            position: static;
        }
    }
}

#editor-mode-button {
    width: 50px;
    height: 50px;
    z-index: $zIndex+1;
}

#editor-panel {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zIndex;
    width: $seoCheckerPanelSize;
    margin-right: -$seoCheckerPanelSize - 30;
    background-color: rgb(255 255 255 / 85%);
    transition: all 0.5s;
    overflow-y: scroll;

    #selected-element {
        border: 3px dashed $black;
    }

    #close-panel {
        width: 50px;
        height: 50px;
        top: 0;
        right: 0
    }

    &.open {
        margin-right: 0;
    }

    .accordion {

        >h4 {
            cursor: pointer;
        }

        >div {
            input[type="radio"] {
                display: none;
            }

            input[type="radio"]+label {
                width: $medium;
                height: $medium;
                cursor: pointer;
                padding: 0.3rem 0.5rem;
                border: 1px solid #000;
            }

            input[type="radio"]:checked+label {
                border: 4px solid #000;
            }
        }
    }
}

@media (max-width: 480px) {

    #editor-panel {
        &.open {
            width: auto;
            left: 0;
        }
    }
}