.row,
.d-flex {
    display: flex;
    flex-wrap: wrap;

    >[class*="col-"] {
        margin: 0 !important;
        // padding: 0 !important;
        border: none !important;
    }
}

.d-flex {
    display: flex;
    flex: 0 0 auto;
    // flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.gap-1 {
    gap: $small;
}

.gap-2 {
    gap: $medium;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}